@font-face {
  font-family: "roboto";
  src: url("./assets/fonts/roboto.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}

* {
  font-family: "roboto";
}

body {
  background: linear-gradient(to bottom, #333, gray, #333);
  width: 98vw;
  height: 98vh;
}
