@font-face {
  font-family: "roboto";
  src: url("./assets/fonts/roboto.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}

* {
  font-family: "roboto";
}

body {
  background: linear-gradient(to bottom, red, green, blue);
  width: 100vw;
  height: 100vh;
}
